* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80vw;
  height: 300px;
  background-color: rgb(205, 199, 199);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;

  /* align-items: stretch; default */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  align-items: center;
  gap: 20px;

  justify-content: center;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: stretch; default */

  /* flex-direction: row; */
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */

  /* flex-wrap: nowrap; default */
  flex-wrap: wrap;

  /* align-content: flex-start; */
  /* align-content: flex-end; */
  /* align-content: stretch; default */
  align-content: center;
}

h1 {
  text-align: center;
  padding: 20px;
}

.container div {
  padding: 40px;
}

.item1 {
  background-color: red;
  /* align-self: stretch; */
  /* align-self: flex-start; */
  /* align-self: flex-end; */
  /* align-self: center; */
}

.item2 {
  background-color: green;
  /* width: 200px; */
  flex-basis: 200px;
  flex-shrink: 1;
}

.item3 {
  background-color: blue;
  flex-grow: 1;
}

.item4 {
  background-color: aqua;
  order: -1;
}

.item5 {
  background-color: blueviolet;
}

.item6 {
  background-color: darkblue;
}

.item7 {
  background-color: deeppink;
}
