*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    border:5px solid red;
    padding: 10px;
    overflow: hidden;
}
.one {
    width: 200px; 
    /* float: left;  */
    float: right;
}
p {
    /* clear: left; */
    /* clear: right; */
    clear: both;
}
